*{
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-family: 'Nunito', sans-serif;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	
}
.wrapper{
	width:100%;
	height:100vh;
	background:#E7DDDE;
	overflow-y: scroll;
	scroll-behavior: smooth;
}
.menu{
	height: 70px;
	width: 100%;
	background-color: #232323;
	position: fixed;
	display: flex;
	justify-content: center;
	z-index: 5;
	
}

.menu .menu-left, .menu-right{
	padding: 22px;
	float: left;
	font-size: 22px;
}
.menu ul li{
	padding: 0px 40px;
	float: left;
	
}
.menu ul li a{
	text-decoration: none;
	color: white;
	transition-duration: 0.5s;
	
}
.menu ul li a:hover,.menu ul li a.active{
	color: #fab95b;
}
.menu .text-center h1 a{
	color: white;
	padding: 0 20px;
	font-size: 50px;
}

.noidung
{
	width: 100%;
	height:100vh;
	background-color: tomato;
	
}
#trangmot, #tranghai, #trangba, #trangbon{
	position: relative;
}
#trangmot{
	background-image: url(../images/IMG_0869.png);
	background-size: cover;
	background-position: center;
}
#trangmot .gioi-thieu{
	width: 450px;
	height: 300px;
/*	background: red;*/
/*	margin:100px;*/
	top: 37%;
	left: 10%;
	position: absolute;
	display: block;
/*	z-index: 1;*/
}
.btn-contact{
	font-size: 17px;
	padding: 12px 35px;
	border: none;
	background: #fab95b;
	border-radius: 30px;
	margin-top: 15px;
	color: white;
	transition-duration: 0.2s;
	
}
.btn-contact:hover{
	background: rgba(54,53,53,1.00);
	cursor:pointer;
}
#tranghai .about-left{
	width: 50%;
	height:100%;
	background: wheat;
	float: left;
	padding-top: 150px;
}
.about-left .square1{
	width: 550px;
	height: 470px;
	background: #EFC679;
	position: absolute;
	left: 70px;
	z-index: 1;
}
.about-left .photo{
	width: 550px;
	height: 470px;
	background: pink;
	background-image: url(../images/me.png);
	background-size: cover;
	margin-top: 50px;
	margin-left: 150px;
	position: absolute;
	z-index:2;
}
.about-left .cham{
	width: 360px;
	height: 200px;
/*	background: red;*/
	position: absolute;
	bottom: -15px;
	left: -10px;
}
.about-left .body-text{
	width: 500px;
	height: 200px;
/*	background: blue;*/
	position: absolute;
	z-index: 3;
	bottom:15px;
	left: 350px;
	font-size: 17px;
	color:rgba(77,64,19,1.00);
}
#tranghai .about-right{
	width: 50%;
	height:100%;
	background:rgba(251,175,176,1.00) ;
	float: left;
	padding-top: 250px;
	padding-left: 100px;
}
.about-right .square2{
	width: 300px;
	height: 150px;
/*	background:  white;*/
	position: absolute;
	top: 100px;
	right: 20px;
}
.skills{
  	width: 100%;
  	max-width: 600px;
  	padding: 0 20px;
	color:rgba(77,64,19,1.00);
}

.skill-name{
  	font-size: 18px;
  	font-weight: 700;
  	text-transform: uppercase;
  	margin: 20px 0;
}

.skill-bar{
  	height: 20px;
  	background: #F4F1F1;
  	border-radius: 8px;
}

.skill-per{
  	height: 20px;
  	background-color: #fab95b;
  	border-radius: 8px;
  	width: 0;
  	transition: 3s linear;
  	position: relative;
}

.skill-per::before{
  	content: attr(per);
  	position: absolute;
  	padding: 2px 6px;
/*  background-color: #000;*/
  	color: #fff;
  	font-size: 13px;
  	border-radius: 4px;
  	right: 15px;
  	transform: translateX(50%);
}

.skill-per::after{
  	position: absolute;
  	width: 10px;
  	height: 10px;
  	background-color: #000;
  	top: -16px;
  	right: 0;
  	transform: translateX(50%) rotate(45deg);
  	border-radius: 2px;
}
#trangba{
	width: 100%;
	height: 100vh;
	background-image: url(../images/background.png);
	background-size: cover;
	padding-top: 100px;
	
}
#trangba ul{
	display: flex;
	justify-content: center;
	
	font-size: 18px;
}
#trangba ul li{
	height: 30px;
	float: left;
	margin:0 25px;
	text-transform: uppercase;
	font-weight: bold;
	color: rgba(77,64,19,1.00);
	transition-duration: 0.3s;
}
#trangba ul li:hover{
	border-bottom: solid #fab95b 3px;
	padding-bottom: 10px;
	cursor: pointer;
}
.gallery{
	width: 40%;
	height: 570px;
/*	background: white;*/
	margin-left: 30%;
	margin-top: 50px;
	
}
.gallery .hinh1{
	width: 32%;
	height: 270px;
/*	background: red;*/
	float: left;
	margin-bottom: 10px;
}
.hinh1 img{
	object-position: 0 -40px;
}
.gallery .hinh2{
	width: 32%;
	height: 270px;
/*	background: red;*/
	float: left;
	margin: 0 12px;
	margin-bottom: 10px;
}
.hinh2 img{
	object-position: 0 -10px;
	transform: scale(1.2);
}
.gallery .hinh3{
	width: 32%;
	height: 270px;
/*	background: red;*/
	float: left;
	margin-bottom: 10px;
}
.hinh3 img{
	object-position: 0 -30px;
}
.gallery .hinh4{
	width: 32%;
	height: 270px;
/*	background: red;*/
	float: left;
}
.hinh4 img{
	transform: scale(1.3);
}
.gallery .hinh5{
	width: 32%;
	height: 270px;
/*	background: red;*/
	float: left;
	margin: 0 12px;
}
.hinh5 img{
	transform: scale(1.3);
}
.gallery .hinh6{
	width: 32%;
	height: 270px;
/*	background: red;*/
	float: left;
	padding-top: 50px;
}
.hinh6 img{
	transform: scale(1.7);
}
.btn-load-more{
	font-size: 17px;
	padding: 12px 35px;
	border: none;
	background: #fab95b;
	border-radius: 30px;
	margin-top: 10px;
	color: white;
	transition-duration: 0.2s;
	margin-left: 45%;
}
.btn-load-more:hover{
	background: rgba(54,53,53,1.00);
	cursor:pointer;
}
/*trang-ba-end*/
#trangbon{
	padding-top: 200px;
	background: rgb(252,205,111);
background: linear-gradient(0deg, rgba(252,205,111,1) 0%, rgba(249,228,194,1) 100%);

}


.social{
	width: 400px;
	height: 100px;
/*	background: #2a3039;*/
	position: absolute;
	bottom: 0;
	right: 0;
}

.social ul{
	text-align: center;
	margin-top: 38px;
}
.social ul li{
	display: inline-block;
	width: 37px;
	height: 37px;
/*	background: #ebebeb;*/
	border: 3px solid rgba(77,64,19,1.00);
	border-radius: 50%;
	text-align: center;
	line-height: 37px;
	font-size: 18px;
	margin-right: 10px;
	transition-duration: 0.3s;
	
}
.social ul li:hover{
	width: 37px;
	height: 37px;
	border: 3px solid #5D22EF;
	border-radius: 50%;
	text-align: center;
}
.social ul li i{
	color: rgba(77,64,19,1.00);
}
.social ul li i:hover{
	color: #5D22EF;
}




.placeholder-color {
	
}
